<section class="principal">
    <div class="contenedor">
        <div class="container">
            <div class="carta">
                <div class="row">
                    <div class="col-md-8">
                        
                    </div>
                    <div class="col-md-4">
                        <h4 style="color: black; font-size: 12pt;">{{this.formattedDate()}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <h4>Hola <strong style="color: #be3e82">{{selectedName}}</strong></h4>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h5 style="font-weight: 100; letter-spacing: 1px; line-height:25px;">Como ya sabrás estoy perdidamente enamorado de ti y espero que te hayan gustado las flores, tanto que quiero demostrarte cuanto te amo, porque te amo.
                            Extraño tenerte entre mis brazos y llenarte de besos, tu me demostraste lo que es el verdadero amor, se notaba cada dia en tus palabras, en tus besos, en tu mirada y tus acciones.
                            Es por esto que quiero recuperar tu amor, no me rendiré contigo. Yo se lo que quiero y lo que quiero es estar contigo y no como amigo, quiero que seas mi novia.
                            Se que tengo mis defectos pero ¿quién no los tiene? No puedo ser perfecto pero si puedo tratar y mejorar para cada dia ser la persona perfecta para ti, lo nuestro va mas allá de solo besos y abrazos, tenemos una conexión única.
                            ¡Eres la mujer mas hermosa de todas! Vales demasiado. Así que quise hacerte esto. Y es por esto que quiero hacerte esta pregunta en momentos de pandemia y en el peor de los momentos porque como una vez te dije de eso se trata el amor de algo real. ¿Me das otra oportunidad? Antes de que respondas te propongo algo: 
                            Imagina los tiempos en los que saliamos y nos amabamos, yo era feliz ¿y tu? Asi que ...
                        </h5>
                    </div>
                </div>
                <div class="row">
                   <div class="col-md-4"></div>
                   <div class="col-md-4">
                       <button class="button accept" ><a href="https://youtu.be/P2C6-IKuWSc">¿Te atreves a imaginar?</a></button>
                   </div>
                   <div class="col-md-4"></div>
                </div>
                <div class="row">
                   <div class="col-md-4"></div>
                   <div class="col-md-4">
                       <h6 style="margin-top: 30px;">Atentamente Francisco J. Moreno</h6>
                   </div>
                   <div class="col-md-4"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="wave wave1"></div>
    <div class="wave wave2"></div>
    <div class="wave wave3"></div>
    <div class="wave wave4"></div>
</section>
